.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .table th, .table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table img {
    width: 40px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: 40px;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Ajusta el tamaño y recorte de la imagen */
  }