<!--
  Recuerde conservar los id, no deben ser modificados
  ids = login__email, login__password, login__password-error, login__email-error, login__btn-login
-->

<div class="card">
  <div class="layout-row justify-content-around align-items-center"></div>
</div>

<div class="card">
  <section class="card-text">
    <h3 class="mt-0 mb-0 block justify-content-center flex mb-15" >Inicio de Sesión</h3>
    <div class="layout-row justify-content-around align-items-center">
      <form [formGroup]="loginForm" (submit)="login()">
        <section class="layout-column align-items-center justify-content-center  mb-10">
          <input
            id="login__email"
            type="email"
            [ngClass]="showErrorEmails ? 'white large error' : 'white large '"
            placeholder="Ingrese correo"
            formControlName="email"
          />
          <div class="form-hint error-text mt-5" 
          id="login__email-error"
          *ngIf="showErrorEmails">{{errorMessageEmail}}</div>
        </section>
        <section class="layout-column align-items-center justify-content-center mb-10">
          <input
            id="login__password"
            type="password"
            [ngClass]="showErrorPassword ? 'white large error' : 'white large '"
            placeholder="Ingrese contraseña"
            formControlName="password"
          />
          <div class="form-hint error-text mt-5" 
          id="login__password-error"
          *ngIf="showErrorPassword">
            {{errorMessagePassword}}
          </div>
        </section>
        <section class="card-actions block" >
          <button id="login__btn-login">Iniciar Sesión</button>
        </section>
      </form>
    </div>
  </section>
</div>